<div class="sign-up-container">
  <h2 class="sign-up-title">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class='field-container'>
      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autocomplete: "first name", placeholder: "Must Enter First Name", :class => 'field'%>
      </div>
      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, autocomplete: "last name", placeholder: "Must Enter Last Name" %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Must Enter E-Mail"%>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Must Choose Secure Password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Must Choose Secure Password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class => "button"%>
      </div>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
